

#imagen{
    background-image: url('https://th.bing.com/th/id/R.5df638d6d7059c29cd1a7b2bc960836c?rik=NeRI2KsSZA4SzA&pid=ImgRaw&r=0');
    display: flex;
    background-position: center;
    padding: 40px;
    background-size: cover;
}

ul{
    background: rgb(34,46,80);
    text-decoration: none;
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}


#titIma{
    color: red;
}
a{
    text-decoration: none;
}

#chau{
    background: rgb(27,153,139);
}
#hola{
    color: red;
}

p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}