

h1{
    color: red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
h2{
    color: rgb(231,29,54);
    text-align: right center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px;
}
body{
    background: rgb(27,153,139);
}

p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#obj{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    border: solid 2px;
}

a{
    text-decoration: none;
}